body {
  background-color: #ddf;
}

#dyntext {
  width: 400px;
}

#monkeymaxsize {
  width: 27px;
}

#monkeythink {
  position: relative;
  float: left;
  width: 200px;
  height: 286px;
  background-image: url("../img/ChimpThinking.png");
  margin-left: 100px;
}

#monkey {
  position: absolute;
  top: 30px;
  left: 20px;
  width: 150px;
  height: 70px;
  background-color: #fff;
  text-align: center;
}

#monkey span {
  font-family: "Happy Monkey";
}

#computer {
  background-size: cover;
  position: relative;
  float: right;
  width: 319.5px;
  height: 301.04px;
  background-image: url("../img/Computer2.png");
  margin-right: 40.25px;
}

#terminal {
  position: absolute;
  top: 49.7px;
  left: 60.35px;
  width: 202.35px;
  height: 149.1px;
  color: #8f8;
}

#terminal span {
  font-family: "VT323";
}

#computerglare {
  background-size: cover;
  position: absolute;
  width: 319.5px;
  height: 301.04px;
  background-image: url("../img/ComputerGlare.png");
}
